   
<div class="page-content page-container  " id="page-content" style="margin-top: 150px; margin-left: 250px;" >
  <div class="padding ">
     
      <div class="row container d-flex justify-content-center">
          <div class="col-lg-8 ">
           <h4 class="card-title">Liste des Emplois du Temps </h4>
              <div class="card">
                  <div class="card-body">
                   
                       <div class="table-responsive">
                          <table class="table table-striped">
                              <thead>
                                  <tr>
                                    <th class="table-info">session</th>
                                    <th class="table-info" style="align-items: flex-end;" >Action</th>
                                  
                                   </tr>
                                  </thead>
                                  <tbody>
                                   <tr *ngFor="let e of emplois">
                                     
                                    <td>Session:{{e.idSession}}</td>
                                    <td class="td1">
                                        <a  [href]="e.img"   class="btn btn-primary btn-sm mr-2 fa fa-eye" ></a> 
                                        <button   *ngIf=" isAdmin " type="button"  style="margin-left: 0px;" class="btn btn-primary btn-sm mr-2" data-toggle="modal" data-target="#myModal"(click)='deleteEmplois(e._id)' ><i class="fa fa-trash"></i></button></td>
                                   
                                     
                             
                            
                                
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


