	<!-- Footer -->

	<footer class="footer">
		<div class="footer_background" style="background-image:url(images/footer_background.png)"></div>
		<div class="container">
			<div class="row footer_row">
				<div class="col">
					<div class="footer_content">
						<div class="row">

							<div class="col-lg-3 footer_col">
					
								<!-- Footer About -->
								<div class="footer_section footer_about">
									<div class="footer_logo_container">
										<a href="#">
											<div class="footer_logo_text">Croco<span>Coder</span></div>
										</a>
									</div>
									<div class="footer_about_text">
										<p>Suivez-Nous.</p>
									</div>
									<div class="footer_social">
										<ul>
											<li><a href="https://www.facebook.com/crococoder"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
											<li><a href="https://www.fa-instagram.com/crococoder"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
								
							</div>

							<div class="col-lg-3 footer_col">
					
								<!-- Footer Contact -->
								<div class="footer_section footer_contact">
									<div class="footer_title">Trouver Nous</div>
									<div class="footer_contact_info">
										<ul>
											<li>Email:crococoder@gmail.com</li>
											<li>Phone:  +(24) 29 400 200</li>
											<li>Immeuble Yasmine Tower, Bloc B, 1er étage, A 1-5, Centre Urbain Nord, Tunis </li>
										</ul>
									</div>
								</div>
								
							</div>

							<div class="col-lg-3 footer_col">
					
								<!-- Footer links -->
								<div class="footer_section footer_links">
									<div class="footer_title">Liens Rapides</div>
									<div class="footer_links_container">
										<ul class="main_nav">
										
											<li class="" style="text-align: center;"> <a routerLink="Home" >Accueil</a></li>
											<li class=""style="text-align: center;"  *ngIf="isAdmin" > <a routerLink="addEtudiant">Etudiant</a></li>
											<li class=""> <a routerLink="addEnseignant"  *ngIf="isAdmin" >Enseignant</a></li>
									
											<li > <a routerLink="listeFormation"  *ngIf="isAdmin" >Formation</a></li>
									
		
											  <li class="dropdown" style="text-align: center;">
												<a class="" href="Session"  *ngIf="isAdmin" >Session
												<span class="caret"></span></a>
																						  </li>
											  <li class="dropdown">
												<a class=""  href="Service">Services</a>
											
											  </li>
											
											<li><a href="contact">Contact</a></li>
										</ul>
										
									</div>
								</div>
								
							</div>

							<div class="col-lg-3 footer_col clearfix">
					
								<!-- Footer links -->
					
								
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="row copyright_row">
				<div class="col">
					<div class="copyright d-flex flex-lg-row flex-column align-items-center justify-content-start">
						<div class="cr_text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
						<div class="ml-lg-auto cr_links">
							<ul class="cr_list">
								<li><a href="#">Copyright notification</a></li>
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>