<div class="event " >
    <div class="event_image"><img [src]="event.image" href="" alt=""></div>
    <div class="event_body d-flex flex-row align-items-start justify-content-start">
        <div class="event_date">
            <div class="d-flex flex-column align-items-center justify-content-center trans_200">
                <div class="event_day trans_200">{{event.eventDate | date: 'dd'}} </div>
                <div class="event_month trans_200">{{event.eventDate | date: 'MM'}} </div>
            </div>
        </div>
        <div class="eventb" >
            <div class="event_title"><a href="">{{event.title}}</a></div>
            <div class="event_info_container">
                <div class="event_info"><i class="fa fa-clock-o" aria-hidden="true"></i><span>{{event.eventTime}}</span></div>
                <div class="event_info"><i class="fa fa-map-marker" aria-hidden="true"></i><span>{{event.address}}</span></div>
                <div class="event_text">
                    <p>{{event.description}} </p>
                </div>
            </div>
        </div>
    </div>
</div>