<div class="event event_left"  >
    <div class="event_image" ><img [src]="emplois.img" type= "button"  href="session.img"></div>
    <div class="event_body d-flex flex-row align-items-start justify-content-start">
        <div class="event_content">
            <div class="event_title"><a  [href]="emplois.img" class="btn " style="margin-left: 80px;margin-top: -40px; ">voir</a>{{emplois.Session}}</div>
            <div class="event_info_container">
                <div class="event" >Session:<span >{{emplois.idSession}}</span></div>
               <div class="event_info"><span></span></div>
                <div class="event_text">
                    <p> </p>
                </div>
            </div>
        </div>
    </div>
</div>