
            
<div class="container" style="margin-top: 250px; margin-bottom: 250px; margin-left: 400px;">
    <div class="form-group">

        <p> 
            <img    [src]="imagePreview" *ngIf="imagePreview" height="100px" width="100px">
             </p>
     </div>
    <div class="row">
        <div class="col ">

            <form #etudiantForm="ngForm" (ngSubmit)="addTraveau()">
                <div class="counter_form_title">Partager des documents </div>
     
                <select name="counter_select"  id="counter_select" class="counter_input counter_options col-sm-9" [(ngModel)]="traveau.idEnseignant"
                [ngModelOptions]="{standalone: true}">
                <option  >--Choisir enseignants--</option>
                  <option *ngFor="let c of childUser"[value]="c._id" >{{c.nom}}.{{c.prenom}} </option>
                  
                </select>
             
              
              <input type="text" placeholder=" Description" id="description" class="counter_input counter_options col-sm-9" [(ngModel)]="traveau.description"
              [ngModelOptions]="{standalone: true}" >
              
              
              <button type="button" (click)='filePicker.click()' style="margin-left: 30%;"
              class="btn ">Sélectionner image</button>
          <div class="form-group">
              <input style="visibility: hidden;" type="file" class="form-control"
                  #filePicker (change)='onImageSelected($event)'  />
          </div>
      
                <button  class="counter_form_button col-sm-9" style="margin-top: 0PX;" type="submit">Envoyer </button>
            </form>
        </div>
    </div>
</div>