
	<!-- Home -->
	<div class="home" >
		<div class="home_slider_container">

			<!-- Home Slider -->
			<div class="owl-carousel owl-theme home_slider">

				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background" style="background-image:url('assets/images/home_slider_1.jpg')">
					</div>
					<div class="home_slider_content">
						<div class="container">
							<div class="row">
								<div class="col text-center">
									<div class="home_slider_title" style="margin-top: -100px;">Bienvenue à votre
										academie</div>
									<div class="home_slider_subtitle">la nouvelle academie de développement de
										competance en tunisie qui assure la formation de profesionels dans le domaine de
										l'IT</div>
									<div class="home_slider_form_container">

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background" style="background-image:url('assets/images/home_slider_1.jpg')">
					</div>
					<div class="home_slider_content">
						<div class="container">
							<div class="row">
								<div class="col text-center">
									<div class="home_slider_title" style="margin-top: -100px;">"Changez De Vie, Apprenez
										À Coder"
									</div>
									<div class="home_slider_subtitle">“CrocoCoder” est une académie de formation
										intensive au développement web</div>
									<div class="home_slider_form_container">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Home Slider Item -->
				<div class="owl-item">
					<div class="home_slider_background" style="background-image:url('assets/images/home_slider_1.jpg')">
					</div>
					<div class="home_slider_content">
						<div class="container">
							<div class="row">
								<div class="col text-center">
									<div class="home_slider_title" style="margin-top: -100px;">Complétez votre éducation
									</div>
									<div class="home_slider_subtitle">Beaucoup de jeunes diplômés font des reconversions
										dans le demaine de l’IT pour avoir la vie profesionnelle stimulante.</div>
									<div class="home_slider_form_container">


									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- Home Slider Nav -->

		<div class="home_slider_nav home_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
		<div class="home_slider_nav home_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
	</div>
	<div class="row features_row" style="margin-top: 150px;">
				
		<!-- Features Item -->
		<div class="col-lg-3 feature_col" >
			<div class="feature text-center trans_400">
				<div class="feature_icon"><img src="assets/images/icon_1.png" alt=""></div>
				<h3 class="feature_title">The Experts</h3>
				<div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
			</div>
		</div>

		<!-- Features Item -->
		<div class="col-lg-3 feature_col">
			<div class="feature text-center trans_400">
				<div class="feature_icon"><img src="assets/images/icon_2.png" alt=""></div>
				<h3 class="feature_title">Book & Library</h3>
				<div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
			</div>
		</div>

		<!-- Features Item -->
		<div class="col-lg-3 feature_col">
			<div class="feature text-center trans_400">
				<div class="feature_icon"><img src="assets/images/icon_3.png" alt=""></div>
				<h3 class="feature_title">Best Courses</h3>
				<div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
			</div>
		</div>

		<!-- Features Item -->
		<div class="col-lg-3 feature_col">
			<div class="feature text-center trans_400">
				<div class="feature_icon"><img src="assets/images/icon_4.png" alt=""></div>
				<h3 class="feature_title">Award & Reward</h3>
				<div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
			</div>
		</div>

	</div>